<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlayStationSharp.UnitTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PlayStationSharp.UnitTests.Properties.Settings>
            <setting name="RefreshToken" serializeAs="String">
                <value>eb19c5d0-3dfd-43ca-94c9-8ff27997b619</value>
            </setting>
        </PlayStationSharp.UnitTests.Properties.Settings>
    </applicationSettings>
</configuration>